img {
    width: 500px;
    height: 500px;
}

 body {
    font-family: 'Modern';
    background: url('http://raw.githubusercontent.com/alyalgendy/Static-Website/refs/heads/main/bgimage.jfif') no-repeat center center fixed;
    background-size: cover;
    color: #FDFD96;
    text-align: center;
}
